@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed)
@import url(https://fonts.googleapis.com/css?family=Roboto)
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700')



    
.ClassWithPad{
    padding: 10px;
    margin: 10px;
}
.container{
    
}
.intro-text{
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 35px;
    line-height: 47px;
    color: #000;
}
h1{
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 30px;
    letter-spacing: 1.3px;
}
.title{
    font-weight: 300;
    font-size: 1.1em;
    line-height: 4em;
    letter-spacing: 1.3px;
    font-family: 'Open Sans';
}
.name{
    font-weight: 700;
    font-size: 0.8em;
    font-family: 'Open Sans';
}
.time{
    font-weight: 300;
    margin-bottom: .8em;
    font-size: 0.8em;
    font-family: 'Open Sans';
}
.details-bio{
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
}
.caption{
    font-size: .8em;
    line-height: 1.5em;
    color: #4A4A4A;
}

.h1-proj{
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 22px;
    margin-bottom: 1%;
    color: #000;
}
h2{
    font-weight: light;
    font-family: 'Open Sans';
    font-size: 13px;
    margin-top: 0px;
    color: #4A4A4A;
}
.project-descrip p {
    padding-top: .8%;
    font-size: 1em;
    color: #4A4A4A;
}
.navbar-brand{
    padding-right: 0px;
}







.container-index{
    padding-left: 25px;
    padding-right: 25px;
}
.NoBottomPadMargin{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ul{
    list-style:none;
    -webkit-padding-start: 0px;
    padding-left: 1px;
}
a{
    position: relative;
    color: black;
}
a:hover{
    text-decoration: none;
}
a:visited{ 
    text-decoration: none; 
    color: black;
}
a.hyperlink{
    position: relative;
    color: black;
    background-color: yellow;
}
a:visited.hyperlink{
    text-decoration: none; 
    color: black;
}
a:hover.hyperlink{
    text-decoration: underline;
}

a.hyperlink-bio{
    position: relative;
    color: black;
    background-color: yellow;
}
a:visited.hyperlink-bio{
    text-decoration: none; 
    color: #000;
    background-color: yellow;
}
a:hover.hyperlink-bio{
    background-color: yellow;
    text-decoration: underline;
}
a.hyperlink-bio2{
    position: relative;
    color: black;
    text-decoration: underline;
}
a:visited.hyperlink-bio2{
    text-decoration: none; 
    color: #000;
}
a:hover.hyperlink-bio2{
    text-decoration: underline;
}
.LongText{
    display: none;
}
.navbar{
    font-family: "roboto",sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
    border: none;
    
}

.navbar-default .navbar-brand {
    color: #000;
    font-size: 30px;
    font-weight: 600;
}
.navbar-default .navbar-brand:hover {
    color: #000;
    background-color: transparent;
}
.navbar-header {
       display: inline-block;   
}

.navbar-header h6 span{
    background-color: #F8FF02;
}

.navbar-header h6{
    font-size: 12px;
    font-weight: 100;
    height: 50px;
    padding: 15px;
    line-height: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 12px;
}

.navbar-default {
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    max-width: 92%;
    margin: auto;
}
.navbar-nav{
    margin: 0;
}
.navbar-nav>li>a {
    padding-left: 5px;
}
.navbar-nav a:hover::before, .navbar-nav a.active-page:before {
    position: absolute;
    top: 10px;
    left: 0px;
    text-decoration: underline;
}

a.active-page{
    text-decoration: underline;
    background-color: yellow;
}

body {
    font-family: "Roboto Sans",sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4em;
    overflow-x: hidden;
    background-color: #FAFAFA;
}
.ContainerNoBleed{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
.ContainerNoBleed-index{
    padding: 0px;
    margin:auto;
}
.details p{
    line-height: 20px;
}
.full-bleed{
    background-color: #FAFAFA;
}
.full-bleed-orange{
    background-color: yellow;
}
.callout{
    background-color: antiquewhite;
    line-height: 1.4em;
    font-size: 1em;
}
.row.main.me{
    background-color: #FFE588;
    margin-bottom: 0px;
    padding-top: 70px;
    padding-bottom: 60px;
}

h3{
    font-weight: 100;
    font-family: 'Open Sans';
    font-size: 35px;
    color: #000;
}
.icon{
    display: inline;
    margin-top: .5%;
}
a.back-to-top {
    display: none;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 20px;
    background: #000 url(images/up-arrow.svg) no-repeat center 43%;
    background-size: 60%;
}
a:hover.back-to-top {
    background: yellow no-repeat center 43%;
    background-size: 60%;
}
a:focus, a:hover {
    color: #000;
    text-decoration: underline;
}

.role-margin{
    margin-bottom: 45px;
}
.subhead{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.3px;
    font-family: 'Open Sans';
    color: #000;
}
.subhead4{
    font-weight: 400;
    font-size: .8em;
    letter-spacing: 1.3px;
    font-family: 'Open Sans';
    color: #4A4A4A;
}
hr{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 42%;
    margin-right: 42%;
    border-width: 2px;
    border-color: #000;
}
.subhead2{
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    padding-bottom: 15px;
    font-family: 'Open Sans';
    letter-spacing: 1.3px;
    color: #000;
}
.subhead3{
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    font-family: 'Open Sans';
    margin-top: 20px;
    color: #4A4A4A;
}
.quote{
    font-size: 30px;
    color: #000;
    font-weight: 100;
    line-height: 1.4em;
    letter-spacing: 1.3px;
    padding-top: 15%;
    padding-bottom: 15%;
    font-family: 'Roboto Mono', monospace;
}
.intro{
    max-width: 92%;
    margin: auto;
    /*padding-bottom: 15%;*/
}
.col-sm-12, col-md-6{
    padding: 0px;
}
.row.ind {
  margin-bottom: 50px;
}
.row {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row.main {
    font-weight: 100;
    padding-bottom: 30px;
    text-align: left;
}

.row.footer {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.row.footer2 {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    clear: both;
}

.row.secondary {
  background-color: #FAA519;
}

.project-info {
  padding: 0;
}
.project-info-proj {
  padding: 0;
}
.project-info-footer {
  padding: 0;
}

.project-title {
    border-left: 3px solid #000;
}

.project-title.ind2 h3{
  font-size: 14px;
  margin: 0;
    font-weight: 600;
}

.project-title h3{
  font-size: 22px;
  margin: 0;
    font-weight: 600;
}

.project-title span {
  font-size: 14px;
  line-height: 30px;
}

.project-title2{
    border: none;
    padding-left: 0;
    margin-bottom: 0px;
}

.project-title2.ind2 h3{
  font-size: 14px;
  margin: 0;
    font-weight: 600;
}

.project-title2 h5{
  margin: 0;
  font-weight: 600;
}
.project-title3 h3{
  font-size: 25px;
  margin-top: 0px;
  font-weight: 400;
    padding-left: none;
}

.project-title3 h4{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #000000;
}
.project-title3 span.subtitle-index{
    color: #000000;
}
.fontsize-index{
    font-size: 1em;
    line-height: 20px;
    color: #000000;
    margin-top: 15px;
}
.fontsize-footer{
    font-size: 15px;
    line-height: 27px;
    color: #000;
}
.project-title3 h3 span {
  font-weight: 100;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 100;
}

.project-title3 h4 span {
  font-weight: 100;
  font-family: 'Open Sans';

}

 {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 100;
}

.project-title2 span {
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 22px;
    font-weight: 100;
}

/*.project-title3 span {
    font-size: 14px;
    font-family: "Roboto Sans",sans-serif;
    font-weight: 500;
}*/

.project-descrip {
  padding: 0px 15px 5px 0px;
}

.orange{
    color: #979797;
}
.col-sm-12 .RowNoPadding{
    position: relative;
    min-height: 1px;
    padding-right: 0px;
}

.fa:hover{
    color: #000;
}
.project-descrip p.index {
    line-height: 22px;
    font-weight: 100;
}
.Num{
    font-size: 53px;
    color: #000000;
    font-weight: 600;
}
.details {
    font-size: 13px;
    font-weight: 300;
    font-family: 'Open Sans';
}

.project-descrip2{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 70px;
    font-size: 13px;
    line-height: 19px;
}
.project-descrip2 p.details {
  font-weight: 100;
    padding-top: 0px;
}

.project-descrip a:hover {
  text-decoration: underline;
  color: #000000;
}
.emoji{
    vertical-align:baseline;
}

.project-image:hover {
  border-bottom: 5px solid yellow;
}

.project-image {
  border-bottom: 5px solid #FFF;
  padding: 0;
  transition: .3s all;
}

blockquote{
    border-left: 2px solid #4A4A4A;
    padding: 0px 10px;
}

.view-link-footer{
    font-size: 25px;
    font-weight: 100;
    background-color: white;
}
.view-link-footer:hover{
    text-decoration: underline;
    color: #000;
}

.view-link{
    font-size: 18px;
    font-weight: 100;
    background-color: yellow;
}

.footer-link{
    font-size: 16px;
    font-weight: 100;
    color: #000;
    background-color: #fff;
    border: solid #000 3px;
    padding: 12px;
    text-decoration: none;
}

.footer-link:hover{
    padding: 12px;
    text-decoration: none;
    color: #000;
    background-color: yellow;
    font-weight: 100;
    border: solid yellow 3px;
}
.fa{
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.fa-2x{
    font-size: 2em;
}
.MorePad{
    padding-left: 4%;
    padding-right: 4%;
}
.footer-text{
    margin-left: 15px;
}
 .footer-text a:hover{
     text-decoration:underline;
}
.center{
    margin-top: 55px;
    margin-left: 15px;
}
.Banner-NoPadding{
    padding-left: 4%;
    padding-right: 4%;
}
.Banner-NoPadding3{
    padding-left: 4%;
    padding-right: 4%;
}
.NoPad{
    padding: 0px;
}
.Pad{
    padding-left: 4%;
    padding-right: 4%;
}
.center-block{
    display: block;
    max-width: 75%;
}
.footer-background{
    background-color: yellow;
}
.container>.NoPad2{
    margin-left: -30px;
    margin-right: -30px;
}
.aboutinfo {
    background-color: #f3f3f3;
    /*padding-top: 10px;
    padding-bottom: 15px;*/
}
.aboutbackground {
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: yellow;
}
.container_full_bleed {
    max-width: 100%;
}
.container_project {
    margin: auto;
    max-width: 91%;
    padding-top: 14%;
    padding-bottom: 10%;
}
a.button_portfolio {
    font-size: 16px;
    font-weight: 100;
    /* background-color: yellow; */
    display: inline-block;
    width: 100%;
    line-height: 80px;
    text-align: center;
}
a.button_social {
    font-size: 16px;
    font-weight: 100;
    /* background-color: yellow; */
    display: inline-block;
    margin: 25px;
    text-align: center;
}
.name-footer{
    font-size: 12px;
    line-height: 12px;
}
.social-component{
    display: inline;
    box-sizing: border-box;
    float: left;
    width: 33.3%;
}
.social{
    line-height: 35px;
    font-size: 14px;
}
.social-margin{
    margin-top: 20px;
}
.social a{
    border-bottom: 1px solid #F8E81C;
}
.social a:hover{
    color: black;
    background-color: yellow;
    border-bottom: none;
    text-decoration: none;
}
a:visited.button_portfolio{
    text-decoration: none; 
    color: black;
}
a:hover.button_portfolio{
    background-color: yellow;
    color: black;
    text-decoration: underline;
}
a.right_border{
    border-right: 1px;
}
a.underline{
    text-decoration: underline;
}
a:visited.underline{
    text-decoration: underline;
}
.social_icons{
    margin-bottom: 30px;
}
.info-component{
    display: inline-block;
    /*width: 100%;*/
    box-sizing: border-box;
    float: left;
}
.resume{
    padding-bottom: 15px;
}
.descrip{
    font-size: 1.0em;
}
.full_image_about {
    max-width: 100%;
    margin: 5px auto 0px auto;
}
.container_full_bleed{
    max-width: 100%;
}
.name-bold{
    letter-spacing: 1.3px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 30px;
}
.footer-title{
    font-size: 30px;
    line-height: 32px;
}
.footer-subtitle{
    font-size: 18px;
    font-family: 'Open Sans';
    margin-top: 1.5%;
    font-weight: 400;
}


@media (min-width: 768px){
    .navbar-header h6{
    padding: 0px 15px;
}
    .container-NoBleed{
        padding-left: 7%;
        padding-right: 7%;
    }
    /*.row.main{
        padding-left: 15px;
        padding-right: 15px;
    }*/
    header{
    margin-left: auto;
    margin-right: auto;
    }
    .container>.NoPad2{
    margin-left: -15px;
    margin-right: -15px;
}
}

@media (min-width: 768px){

    .navbar-nav a:hover::before, .navbar-nav a.active-page:before {
        top: 11px;
        
    }

    .navbar-nav>li>a {
    padding-top: 11px;
    padding-bottom: 15px;
}
}


@media (min-width: 625px){
    /*.project-descrip2 .details{
        padding-left: 75%;
        padding-top: 20px;
    }*/
    .project-descrip2 .details-bio{
        padding-left: 0%;
        padding-top: 20px;
    }
    /*.project-info{
        float: left;
        width: 65%;
    }*/
    .project-info2{
        float: left;
        width: 100%;
    }
    .project-info-proj{
        float: left;
    }
    /*.project-info-index{
        padding-left: 35px;
        padding-right: 35px;
    }*/
    .project-info-footer{
        max-width: 100%;
    }
    .project-descrip-footer{
        padding: 40px 0px 0px 0px;
    }
    .project-info-main-bio {
        max-width: 45%;
        float: left;
    }
    .project-descrip-bio{
        float: left;
        max-width: 55%;
    }

    .footer{
        padding-bottom: 150px;
    }
    .footer-float{
        margin-top: 20px;
    }
}

@media (min-width: 400px){

    .navbar-nav a:hover::before, .navbar-nav a.active-page:before {
        top: 11px;
        
    }
    .navbar-nav{
    padding-top: 6px;
}
    .project-descrip-bio{
        max-width: 100%;
         padding-left: 0px;
         padding-right: 0px;
    }
    .row.main.me{
    }

}
@media (min-width: 500px){
    .LongText{
        display: block;
    }
}
@media (max-width: 624px){
    .row.footer2{
        margin: auto;
        max-width: 100%;
    }
}
@media (max-width: 854px) and (min-width: 625px){
    .row.footer{
        margin: auto;
        max-width: 80%;
    }
    .row.footer2{
        margin: auto;
        max-width: 84%;
    }
}
@media (max-width: 1055px) and (min-width: 855px){
    .row.footer{
        margin: auto;
        max-width: 67%;
    }
    .row.footer2{
        margin: auto;
        max-width: 72%;
    }
}
@media (min-width: 1056px){
    .row.footer{
        margin: auto;
        max-width: 54%;
    }
    .row.footer2{
        margin: auto;
        max-width: 57%;
    }
    .h1-proj{
        margin-right: 0%;
        line-height: 1.1em;
    }
}

@media (min-width: 400px){
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
    .project-descrip2 p.details {
    font-weight: 100;
    padding-top: 0px;
}
    .img-size{
        width: 100%;
    }
    .p-footer{
        margin-bottom: 40px;
    }
}
    
@media (min-width: 768px){
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
    .project-descrip2 p.details {
    font-weight: 100;
    padding-top: 0px;
}
    .project-descrip2{
        float: none;
    }
    .project-descrip-bio{
        float: left;
        max-width: 55%;
    }
    .container-index{
        padding-left: 7.3%;
        padding-right: 7.3%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
    .img-size{
        width: 100%;
    }
    /*.row{
        margin-left: auto;
        margin-right: auto;
    }*/
    .index{
        font-size: 16px;
        line-height: 26px;
    }
    .row.main.me{
        padding-left: 6.5%;
        padding-right: 6.5%;
    }

    .footer{
        padding-bottom: 150px;
    }
    .footer2{
        padding-bottom: 150px;
    }
    .Banner-NoPadding{
        padding-left: 0px;
    }
    .Banner-NoPadding2{
        padding-left: 13px;
    }
    .Banner-NoPadding3{
        padding-left: 0px;
    }
}
    
@media (min-width: 992px){
    .container{
        width: 750px;
    }
    .container-index{
        width: 87%;
        margin: auto;
        margin-top: 50px;
    }
    .container-NoBleed{
        padding-left: 12%;
        padding-right: 12%;
    }
    .project-descrip2{
        width: auto;
    }
    .project-info-main{
        width: 100%;
        margin: auto;
    }
    .project-info-main-bio{
        width: 45%;
        margin-right: 50px;
    }
    .img-size{
        width: 45%;
    }
    .img1{
        padding-top: 30px;
    }
    .container-footer{
        width: 750px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .row.main.me{
    padding-left: 15.4%;
    padding-right: 15.4%;
    }
    .project-info{
        float: left;
    }
    .project-info2{
        float: left;
        width: 100%;
    }
    .project-info-proj{
        float: left;
        width: 33%;
    }
    .role-margin{
        margin-right: 45px;
    }
    h1{
        margin-top: 0px;
    }
    .social{
        line-height: 45px;
        margin-top: -10px;
    }
    .footer-title{
        width: 95%;
    }
    .project-descrip p{
        font-size: .8em;
    }
    h2{
        margin-top: 4%;
    }
}

@media (min-width: 1200px){
    .container{
        width: 750px;
    }
    .container-index{
        width: 67.5%;
        margin: auto;
        margin-top: 50px;
    
    }
    .container-footer{
        width: 750px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .Banner-NoPadding2{
        padding-left: 0px;
    }
}

.nav>li {
    display: inline-block;
    padding-right: 13px;
    padding-top: 8px;
}

@media (min-width: 375px){
    .navbar-nav{
        float: right;
        margin: 7px 0 0 0;
    }
}

@media (min-width: 400px){
    .navbar-nav {
        float: left ;
        margin: 0;
}
    .container-footer{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .container-NoBleed{
        padding-left: 3%;
        padding-right: 3%;
    }
    .navbar-brand{
        padding-left: 0px;
    }
}






@media (max-width: 699px) and (min-width: 625px){
    .container_project {
        margin: auto;
        max-width: 80%;
        padding-top: 13%;
        padding-bottom: 13%;
    }
    .subhead{
        font-size: 14px;
    }
    .intro{
    max-width: 80%;
    }
    .quote{
        font-size: 40px;
        line-height: 1.2em;
    }
    .NoBottomPadMargin{
    padding-bottom: 0px;
    margin-bottom: 0px;
    }
}

@media (max-width: 854px) and (min-width: 700px){
    .container_project {
        margin: auto;
        max-width: 80%;
        padding-top: 13%;
        padding-bottom: 13%;
        }
    .subhead{
        font-size: 16px;
        }
    .intro{
        max-width: 80%;
        }
    .quote{
        font-size: 40px;
        line-height: 1.2em;
        }
    .NoBottomPadMargin{
    padding-bottom: 0px;
    margin-bottom: 0px;
    }
}

@media (max-width: 1055px) and (min-width: 922px){
    .h1-proj{
        line-height: 1.1em;
    }   
}

@media (max-width: 1055px) and (min-width: 855px){
.container_project {
    margin: auto;
    max-width: 67%;
    padding-top: 4%;
    padding-bottom: 4%;
    }
.subhead{
    font-size: 16px;
    }
.intro{
    max-width: 67%;
    } 
.quote{
    font-size: 40px;
        line-height: 1.2em;
    }
    .NoBottomPadMargin{
    padding-bottom: 0px;
    margin-bottom: 0px;
    }
}

@media (min-width: 1056px){
.container_project {
    margin: auto;
    max-width: 58%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.subhead{
    font-size: 16px;
    }
.intro{
    max-width: 54%;
    }
.quote{
    font-size: 40px;
        line-height: 1.2em;
    }
    .NoBottomPadMargin{
    padding-bottom: 0px;
    margin-bottom: 0px;
    }
}

@media (max-width: 699px) and (min-width: 625px){
    .navbar-default {
    max-width: 80%;
    }
    .full_image_about {
    max-width: 80%;
    margin: 5px auto 0px auto;
    display: block;
    }
    a.button_portfolio {
    background-color: #f3f3f3;
    width: 50%;
    float: left;
    }
    .project-title2 h3{
        font-size: 40px;
    }
}

@media (max-width: 854px) and (min-width: 700px){
    .navbar-default {
    max-width: 80%;
    padding-bottom: 1%;
    }
    .full_image_about {
    max-width: 80%;
    margin: 5px auto 0px auto;
    display: block;
    }
    a.button_portfolio {
    background-color: #f3f3f3;
    width: 22%;
    float: left;
    }
    .social-component{
    width: 18%;
    }
    a.button_social{
    margin-top: 23%;
    }
    .project-title2 h3{
        font-size: 45px;
    }
}
@media (max-width: 1055px) and (min-width: 855px){
    .navbar-default {
    max-width: 67%;
    padding-bottom: 1%;
    }
    .full_image_about {
    max-width: 67%;
    margin: 5px auto 0px auto;
    display: block;
    }
    a.button_portfolio {
    width: 22%;
    float: left;
    background-color: #f3f3f3;
    }
    .social-component{
    width: 18%;
    }
    a.button_social{
    margin-top: 19%;
    }
    .project-title2 h3{
        font-size: 50px;
    }
}
@media (min-width: 1056px){
    .navbar-default {
        max-width: 58%;
        padding-bottom: 1%;
    }
    .full_image_about {
    max-width: 54%;
    margin: 5px auto 0px auto;
    display: block;
    }
    a.button_portfolio {
    width: 22%;
    float: left;
    background-color: #f3f3f3;
    }
    .social-component{
    width: 18%;
    }
    a.button_social{
    margin-top: 17%;
    }
    .component-wrapper{
        max-width: 80%;
        margin: auto;
    }
    .project-title2 h3{
        font-size: 50px;
    }
}

/*@media (min-width: 600px) {
    
    body {
        border: 10px solid green;       
    }   
}

@media (min-width: 767px) {
    
    body {
        border: 10px solid pink;
    }
}*/