.nav {
    background-color: #261933;
    height: 40px;
}
.project_width {
    margin: auto;
    max-width: 85%;
}
.nav_left {
    float: left;
    padding-left: 0px;
}
.nav_right {
    float: right;
    display: block;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 7px;
}
.nav_right li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
}
li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #0E001C;
    list-style-type: none;
    line-height: 1.5em;
}
.aboutbackground{
    background-color: #f3f3f3;
    padding-top: 10px;
    padding-bottom: 15px;
}
.container_project {
    margin: auto;
    max-width: 85%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.container_full_bleed {
    max-width: 100%;
}
.full_image_about {
    max-width: 100%;
    margin: 5px auto 0px auto;
}
body {
    font-size: 15px;
    margin: 0;
    text-rendering: optimizeLegibility;
}
.fa {
    color: #261933;
    float: left;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 40px;
    margin-left: 0px;
}